# Example configuration of `devil`

# Main directory
path: /home/exio4/devil/

# default configuration for daemons (you can leave this out, if you want)
config:
    wakeup: 10

# list of daemons to enable
enabled:
   - name: busywait_1
     config:
       wakeup: 5
   - name: busywait_2_crash
     config:
       wakeup: 3
   - name: dummy_daemon
   - name: loop_recv
   - name: loop_send
