# Example configuration of `devil`

# Main directory
path: /home/exio4/devil/

# default configuration for daemons (you can leave this out, if you want)
config:
    wakeup: 10

# list of daemons to enable
enabled:
   - name: test_daemon
     config:
       wakeup: 10
       # you can override global settings in a per-daemon manner
       # you can also add extra options (which may be needed for the daemon)
